.logo-container {
    /* Container styles */
    text-align: center;
    margin-bottom: 20px;
    display:flex;
    align-items: normal;
  }
  
  .logo-image {
    /* Logo image styles */
    width: 200px;
    height: auto;
  }