/* Container Principal */
.plano-acao-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento entre o logo e o formulário */
}

.logo-img {
  width: 20%; /* Ajusta o tamanho do logo */
  max-width: 200px; /* Define um limite máximo */
  height: auto;
  margin-bottom: 20px; /* Espaço entre o logo e o próximo elemento */
}


/* Título principal */
.title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Formulário */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Seção */
.section {
  margin-bottom: 30px;
}

/* Título da seção */
.section-title {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

/* Campo do formulário */
.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.label-block {
  font-weight: bold;
  color: #555;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

/* Campos menores */
.small {
  width: 100px;
}

/* Texto longo */
.textarea-field {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.textarea-field:focus {
  border-color: #007bff;
  outline: none;
}

/* Grupos de opções */
.radio-group,
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.radio-label,
.checkbox-label {
  font-size: 1rem;
  color: #555;
}

/* Linha com múltiplos campos */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Botão de envio */
.submit-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Dimensão personalizada */
.eixo-container {
  margin-bottom: 20px;
}

.eixo-title {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

