.register_container {
  background: linear-gradient(135deg, #8e44ad, #3498db); /* Tons lilás e azul */
  padding: 10%;
  min-height: 100vh; /* Preencher a altura total da viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container {
  /* Container styles */
  text-align: center;
  margin-bottom: -10%;
}

.logo-img {
   /* Logo image styles */
   width: 20%;
   height: auto;
}

.register-form {
  max-width: 30%;
  width: 50%;
  padding: 30px;
  background-color: #ffffff; /* Fundo branco */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-family: Arial, sans-serif;
  
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333; /* Título em tom escuro */
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #7d5b5b;
  border-radius: 4px;
  font-size: 16px;
  color: #555555; /* Texto cinza */
  transition: border-color 0.3s;
}

.register-form input:focus {
  border-color: #8e44ad; /* Cor de foco lilás */
  outline: none;
}
.criterios-section {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os itens */
}

.criterios-section div {
  display: flex;
  align-items: center; /* Alinha checkbox e texto verticalmente */
  gap: 10px; /* Espaçamento entre o checkbox e o texto */
}

.criterios-section input[type="checkbox"] {
  width: 20px;
  height: 20px; /* Tamanho do checkbox */
  accent-color: #007bff; /* Cor personalizada para checkbox */
}

.criterios-section label {
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer; /* Cursor de mão ao passar sobre o texto */
}




.register-form button {
  width: 100%;
  padding: 12px;
  background-color: #8e44ad; /* Lilás */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #7d3c98; /* Lilás mais escuro */
}

.register-form button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(142, 68, 173, 0.3); /* Foco visível */
}

@media (max-width: 480px) {
  .register-form {
    padding: 15px;
  }

  .register-form h2 {
    font-size: 20px;
  }

  .register-form input {
    font-size: 14px;
  }

  .register-form button {
    font-size: 14px;
    padding: 10px;
  }

  .criterios-section h3 {
    font-size: 16px;
  }
}
